@media screen and (min-width: 900px) {
  header > div > a:first-child p {
    margin-left: 0.25em;
    width: unset;
    flex: 1 1 100%;
    transform: none;
  }
}

@media screen and (min-width: 600px) {
  .navToggleButton {
    display: none;
  }

  nav {
    background-color: var(--clear);
    text-align: center;
    padding: 0;
    top: 1.25em;
    transform: none;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
  }
}
